*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
.header{
    background-image: url("./images/unsplash_dt60oksDTx8.png");
    background-repeat: no-repeat;
    background-size: 100%  400px;
    display: flex;
    flex-direction: column;

}
.big-text{
    width: 450px;
font-style: normal;
font-weight: bold;
font-size: 38px;
line-height: 45px;
display: flex;
align-items: center;
text-transform: uppercase;
margin: 40px 50px;
color: #FFFFFF;
}
.nav-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.text-icon{
    width: 425px;
height: 57px;

margin: 20px 50px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
display: flex;
align-items: center;

color: #FFFFFF;
}
.btn{
    width: 130px;
    height: 44px;
    border:none;
    background-color: #B31918;
    color:white;
}
.nav-box-icon{
    display: flex;

}
.images{
    width: 40px;
    margin-left: 20px;
}
.nav-box-icon h2{
    margin-left: 10px;
}
.btn-info{
    width: 200px;
height: 44px;
border:none;
margin: 20px 50px;
/* main red */
color:white;
background: #B31918;
border-radius: 2px;
}